*{
    margin: 10px;
    padding: 0;
    text-align: center;
}

h1{
    color: #a67c9b;
    background-color: #2F2235;
    height: 5rem;
    line-height: 5rem;
    width: 100%;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.choice:hover{
    cursor: pointer;
    background-color: #2F2235;
}


.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
}
#user-score,
#comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 1rem;
}

#msg{
    background-color: #2F2235;
    color:#a67c9b;
    font-size: 2rem;
    display: block;
    padding: 1rem;
    border-radius: 1rem;
}

@media (max-width: 500px) {
h1{
    width: 100%;
    font-size: larger;
}

img{
    height: 70px;
    width: 70px;
    margin: 0px 10px;
}
.choices{
    gap:5px;
    margin: 20px;
}
}